@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

        * {
            margin: 0;
            font-family: 'Quicksand', sans-serif;
        }

        nav {
            background-color: whitesmoke;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            padding-left: 40px;
        }

        nav ul {
            display: flex;
            gap: 30px; 
            padding-right: 40px;
        }

        nav ul li {
            list-style: none;
        }

        nav ul li a {
            text-decoration: none;
            color: black;
        }

        button {
            width: 120px;
            height: 4px;
            border-radius: 10px;
            background-color: rgb(115, 231, 20);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 30px;
        }

        button a {
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-decoration: none;
        }

        .content_1 {
            background-color: aliceblue;
            width: 100%;
            height: 65vh;
            background-image: url("../img/pertama.jpeg");
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .isi_1 {
            border: 1px;
            background-color: green;
            width: 80%;
            height: 70%;
            border-radius: 15px;
            opacity: 0.9;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .content_1 h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            text-align: center;
            color: whitesmoke;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        .content_1 p {
            padding-top: 25px;
            padding-left: 9px;
            padding-right: 9px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: whitesmoke;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            margin: 10px;
        }

        .inter_1 {
            width: 100%;
            height: 45vh;
            background-image: url("../img/kedua.avif");
            background-position: center;
            background-size: cover;

        }

        .isi_i {
            border: 1px;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .isi_i h1 {
            padding-top: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            text-align: center;
            color: #F0F8FF;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

        }

        .isi_i p {
            padding-top: 25px;
            padding-left: 9px;
            padding-right: 9px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: #F0F8FF;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            margin: 10px;
        }

        .tiket {
            background-image: url("../img/ketiga.jpg");
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 70vh;
        }

        .form_tiket {
            background-color: aliceblue;
            border-radius: 12px;
            width: 50%;
            height: 80%;
            margin-left: 50px;
            padding-top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer{
            width: 100%;
            height: 10vh;
            background-color: rgb(233, 233, 233);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer p{
            color: gray;
        }